.blog__client{
    width: 427px;
    height: 402px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-inline: 4rem;
}
.blog__client_img{
    position: relative;
    width: 507px;
    height: 283px;
    aspect-ratio: 4/3;
}
.blog__client_info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}