.blog__client{
   cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2.4rem;
    text-decoration: none;
    color: #000;
  
}
.blog__client_img{
    position: relative;
    width: 31.688rem;
    height: 17.688rem;
}
.blog__client_info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.blog__client_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}