.featured__wrapper{
    width: 100%;
    height: 85vh;
    margin: 2rem 0;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2rem;
}
.featured__wrapper img{
    filter:brightness(0.5);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.featured__header h2{
    font-size: calc(1rem + 1vw);
}
.featured__content{
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 4rem 0;
}
.featured__text{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.featured__text h1{
    font-size: calc(1rem + 1vw);
}
.featured__text p{
    font-size: 1rem;
}
.featured__text button{
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    align-self: flex-start;
    transition: color 0.8s ease-in-out, background-color 0.8s ease-in-out;
}
.featured__text button:hover{
    color: #000;
    background-color: #fff;
}