.admin__navbar{
    width: 100%;
    height: 10vh;
    background:#E1E1E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    position: sticky;
    top: 0;
    z-index: 11;
}

.NavBar__logo{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 12rem; */
}
@media screen and (min-width: 240px) and (max-width:768px) {
    .admin__navbar_filler{
        display: none;
    }
    .admin__navbar_logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .NavBar__logo{
        margin: 0;
        font-size: 2rem;
    }
    .admin__navbar{
        padding-inline: 1rem;
    }
}