.admin__navbar{
    width: 100vw;
    height: 10vh;
    background:#E1E1E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    position: sticky;
    top: 0;
}

.NavBar__logo{
    font-size: 3rem;
}