.client__section_first{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: center;
    align-items: center;
}
.body__client{
    width: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
}