.client__section_first{
    display: grid;
grid-template-columns: repeat(3, 1fr);
/* grid-template-rows: repeat(2, 1fr); */
/* gap: 2rem; */
    width: 100vw;
    height: 90vh;
    padding: 2rem;
    /* : 13.5rem; */
    justify-content: center;
    align-items: center;
}