.client__section_first{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: center;
    align-items: center;
}
.body__client{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-inline: 2rem; */
}
.more__picks_section{
    width: 100vw;
    padding: 2rem;
    margin: 2rem 0;
}
.more__picks_section h2{
    font-size: calc(1rem + 2vw);
}  